.encabezado {
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.encabezado ul {
    list-style: none;
}

ul {
    display: flex;
}

ul li {
    margin: 3px;
}

ul li a {
    text-decoration: none;
}

